@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200italic,300,300italic,regular,italic,600,600italic,700,700italic,900,900italic);

html,
body,
#root,
.content {
  height: 100%;
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
}

.app {
  display: flex;
  position: relative;
}

::-webkit-scrollbar {
  width: 10px;
}

/* TRACK */
::-webkit-scrollbar-track {
  background: #e0e0e0;
}

/* HANDLE */

::-webkit-scrollbar-thumb {
  background: #888;
}

/* HANDLE ON HOVER */

::-webkit-scrollbar-track:hover {
  background: #555;
}
